* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: none;
}

*:focus {
  outline: none;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  scroll-behavior: smooth;
  font-size: 1.6rem;
  background-color: var(--color);
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

button,
a,
img,
select {
  cursor: pointer;
}

:root {
  --color: #a7dec4;
  --black: ;
  --font-family: Montserrat, sans-serif;
  --color-button: #10b69b;
  --font-text: Simonetta, cursive;
  --color-header: #aae1c7;
}

.banner img {
  width: 100%;
  object-fit: contain;
}

.box__text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  gap: 1rem;
  width: 138.4rem;
  height: 9.4rem;
  margin: auto;
  background: #1a6c61;
  font-family: var(--font-text);
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #c5f3e2;
  mix-blend-mode: normal;
  border-radius: 1.2rem;
}

.style__title {
  font-family: var(--font-text);
  font-weight: 900;
  font-size: 8rem;
  line-height: 10rem;
  height: 14.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a6c61;
}

.contact {
  padding: 0.5rem;
  text-align: right;
  color: #ffffff;
  font-weight: 400;
  font-family: var(--font-text);
  font-size: 4rem;
  line-height: 5rem;
  max-width: 60rem;
  margin: auto;
}

.wrapper {
  padding: 1.6rem;
  max-width: 149.6rem;
  margin: auto;
}

.about_us {
  margin-top: 11.7rem;
}

.about_us__title {
  padding-right: 10rem;
  display: inline-block;
  font-family: var(--font-text);
  font-weight: 900;
  font-size: 9.6rem;
  line-height: 12rem;
  border-bottom: 0.2rem solid #1a6c61;
  color: #1a6c61;
  margin-bottom: 4.5rem;
}

.about_us__detail {
  margin-bottom: 7.8rem;
}

.about_us__detail > p {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.7rem;
  font-family: var(--font-family);
  margin-bottom: 2rem;
  color: #1a6c61;
}

.about_us__info {
  display: flex;
  margin-bottom: 5rem;
  gap: 6.3rem;
}

.about_us__info--image {
  width: 27.6rem;
  height: 27.6rem;
  border-radius: 100rem;
  overflow: hidden;
}

.about_us__info--image img {
  object-fit: cover;
  border-radius: 100rem;
}

.about_us__info--content {
  flex: 1;
  color: #1a6c61;
}

.about_us__info--name {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.7rem;
}

.about_us__info--child {
  font-weight: 400;
  font-size: 2rem;
  padding: 1rem 0rem;
  line-height: 2.8rem;
}

.about_us__info--footer {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
}

.about_us__info--footer > p {
  margin-bottom: 1.6rem;
}

.sharing_room__image {
  width: 80rem;
  height: 60rem;
  margin: auto;
  background-size: cover;
}

.sharing_room__description {
  font-family: var(--font-text);
  max-width: 53.7rem;
  margin: auto;
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  display: flex;
  align-items: center;
  color: #1a6c61;
  mix-blend-mode: normal;
}

.sharing_room__title {
  margin: 5.2rem auto;
  font-family: var(--font-text);
  font-weight: 900;
  font-size: 8rem;
  line-height: 10rem;
  text-align: center;
  color: #1a6c61;
}

.sharing_room__banner {
  max-width: 156.8rem;
  margin: auto;
  height: 66.8rem;
}

.sharing_room__banner > img {
  width: 100%;
}

.sharing_room__banner--second {
  display: flex;
  justify-content: center;
  max-width: 156.8rem;
  margin: auto;
  margin-bottom: 10rem;
  height: 38.9rem;
}

.sharing_room__banner--second > img {
  width: 100%;
}

.sharing_room__line {
  width: 77rem;
  margin: 6.7rem auto;
  border-bottom: 0.4rem solid #1a6c61;
}

.sharing_room__write {
  width: 113.5rem;
  margin: auto;
}

.sharing_room__write textarea {
  width: 100%;
  height: 17.5rem;
  margin: auto;
  background: #d9efec;
  border: 0.3rem solid #000000;
  border-radius: 0.3rem;
  padding: 0.6rem;
  font-style: italic;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #000000;
}

.sharing_room__write textarea::placeholder {
  font-style: italic;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.4rem;
  color: #000000;
}

.sharing_room__write--control {
  margin: 3.4rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sharing_room__write--control ul {
  display: flex;
  gap: 3.5rem;
}

.sharing_room__write--control ul li img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.sharing_room__write--post {
  text-align: center;
  margin-bottom: 17rem;
}

.sharing_room__write--post button {
  border: none;
  padding: 0.8rem 1.6rem;
  color: #ffffff;
  background: #115c50;
  border-radius: 0.4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
}

.sharing_room__comment {
  padding: 0rem 1.5rem;
  max-width: 156.8rem;
  margin: auto;
  margin-bottom: 10rem;
}

.sharing_room__comment--name {
  height: 5.7rem;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.7rem;
  color: #1a6c61;
}

.sharing_room__comment--description {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 3rem;
  color: #1a6c61;
  margin-bottom: 2rem;
}

.sharing_room__comment > ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sharing_room__comment > ul li {
  width: 3.5rem;
}

.healing_zone__description {
  max-width: 62.6rem;
  margin: auto;
}

.healing_zone__image {
  margin: auto;
  width: 48.8rem;
  height: 40.1rem;
  background-size: cover;
}

.healing_zone__container {
  max-width: 157.5rem;
  margin: auto;
  padding: 6.3rem 5.1rem;
  margin-bottom: 9.4rem;
  background: #10b69b;
  border-radius: 3rem;
}

.healing_zone__container > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 8.4rem;
}

.healing_zone__container--item > div {
  padding-top: 100%;
  position: relative;
}

.healing_zone__container--item > div div {
  border-radius: 100rem;
  justify-content: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f8d16e;
}

.healing_zone__container--item > div div img {
  transform: scale(0.5);
}

.healing_zone__container--item > p {
  width: 120%;
  transform: translateX(-10%);
  font-family: var(--font-text);
  text-align: center;
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.5rem;
  color: #c5f3e2;
}

.header {
  background-color: var(--color-header);
  height: 12.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 3rem;
}

.header__logo {
  width: 88px;
  height: 88px;
}

.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header__menu {
  padding-left: 2rem;
}

.header__menu ul {
  display: flex;
  align-items: center;
  gap: 0;
}

@media (min-width: 1600px) {
  .header__menu ul {
    gap: 2.5rem;
  }
}

.header__menu ul li.active a {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__menu ul li a {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 0.8rem 1.6rem;
}

.header__menu ul li a:hover {
  background: linear-gradient(0deg, rgba(42, 89, 254, 0.8), rgba(42, 89, 254, 0.8)), #ffffff;
}

.header__button {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

.header__button a {
  display: block;
  border-radius: 0.4rem;
  width: 16rem;
  background-color: var(--color-button);
  height: 3.8rem;
  display: flex;
  align-items: center;
  color: #ffffff;
  justify-content: center;
}

.footer {
  padding: 2rem;
  height: 24.2rem;
  margin: 0.8rem 0rem;
  background: #115c50;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__image {
  width: 24.2rem;
  height: 24.2rem;
  margin: auto;
  padding: 0.5rem;
}

.footer__image-- {
  margin: 0 !important;
}

.contact__ {
  margin: 0 !important;
}

.articles__content {
  max-width: 57.3rem;
  margin: auto;
  color: #1a6c61;
  mix-blend-mode: normal;
}

.articles__content--first {
  font-family: var(--font-text);
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
}

.articles__content--second {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  line-height: 3rem;
}

.articles__image {
  margin: auto;
  width: 32.1rem;
  height: 31.2rem;
  margin-bottom: 2.4rem;
  background-size: cover;
}

.articles__main--child {
  font-family: var(--font-text);
  font-weight: 400;
  font-size: 8rem;
  line-height: 10rem;
  text-align: center;
  color: #1a6c61;
}

.articles__main--description {
  max-width: 118.6rem;
  margin: 5.8rem auto 1rem auto;
  font-family: var(--font-text);
  font-style: italic;
  font-weight: 400;
  font-size: 4rem;
  line-height: 5rem;
  color: #1a6c61;
  mix-blend-mode: normal;
}

.articles__main--image {
  max-width: 118.6rem;
  margin: auto;
}

.articles__main--image img {
  width: 100%;
}

.professional_help__description {
  max-width: 62.3rem;
  margin: auto;
  text-align: center;
}

.professional_help__image {
  width: 45rem;
  height: 45rem;
  background-size: cover;
  margin: auto;
}

.professional_help__banner {
  width: 78rem;
  height: 75.5rem;
  margin: auto;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0rem;
}

.pagination.control {
  transform: rotate(90deg);
}

.pagination a {
  width: 4rem;
  font-weight: 100;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
}

.pagination a.active {
  background-color: #ffffff;
  color: #2a59fe;
}
/*# sourceMappingURL=app.css.map */